/* Global Part */

html {
	padding: 0;
	margin: 0;
}

body {
	background: #F1E8E4;
	padding: 0;
	margin: 0;
	width: 100%;
}

/* Header Part */

header {
	background: #7F3766;
	padding: 1% 5%;
	margin: 0;
	width: 90%;
	height: 150px;
}

#title {
	color: #F1E8E4;
}

header nav a:link {
	color: #F1E8E4;
}

header nav a:visited {
	color: #E5CDC8;
}

header nav a:hover {
	color: #C455A8;
}

header nav a:active {
	color: #DB5ABA;
}

/* Main Part */

main {
	background: #EBDBD6;
	margin: 0% 25%;
	padding: 10px 5%;
	width: 40%;
}

figure {
	background: #D7A6B3;
	color: #3A1824;
	padding: 0% 10%;
	margin: 0 0 20px 0;
	width: 80%;
	height: 100%;
}

img {
	width: 80%;
	height: 80%;
}

h1 {
	margin: 0;
}